@import '~bootstrap/scss/bootstrap';

$primary: white;

// ******* Navbar ******* //

    // Badge ordini

    .orders-badge {
        position: absolute;
        transform: translate(100%, 0);
        top: 0;
        left: 100;  
        background-color: rgb(205, 45, 45);
        color: white;
        border-radius: 50%;
    }



// ******* Dashboard ******* //

    // Tabella con scroll con intestazione fixed

    .dashboard-menu-height {
        height: 65vh;
        overflow: scroll;
    }

    .thead {
        position: sticky;
        top: 0px;
        z-index: 2;
        background-color: #ffffff;
    }

    .restaurant-img-cage img {
        max-width: 100%;
    }


// ******* Restaurant Form ******* //
    
    // Immagini Restaurant form

    .object-fit-cover {
        object-fit: cover;
    }
    .imageBox{
        border-radius: 10px;
        img{
            border-radius: 5px;
        };
        .uploadImage{
            background-color: rgba($color: black, $alpha: 0);
            transition: all .1s linear;
            font-size: 3rem;
        }
        &:hover{
        .uploadImage{
                z-index: 2;
                font-size: 4rem;
                color: white;
                background-color: rgba($color: black, $alpha: .3);
            }
        }
        border: 5px solid white;        /* Opera/IE 8+ */
        transition: all .1s linear;
        &.choosen, &:hover {
            border: 5px solid #0d6efd;
        }
    }


// ******* Card-Dish ******* //

.dish-card{
    background-color: antiquewhite;
    
}
    

// ******* Alerts ******* //

    .alert{
       padding:7px;
       margin-bottom: 0;
       font-weight: bold;
    }
    






// SCHIFEZZE DI PROVA

.bg-prova {
    background-color: #faebd7;
}
